@tailwind base;
@layer base {
  :root {
    --white: #ffffff;
    --black: #000000;
    --lightIndigo: #e0e7ff;
    --lightSlate: #e2e8f0;
    --lightOrange: #fff7ed;
    --lightPurple: #f3e8ff;
  }

  @font-face {
    font-family: "AvertaCY";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1735044583/cuberto/fonts/AvertaCY-Light.woff2");
    font-weight: 300;
    font-style: normal;
  }
  @font-face {
    font-family: "AvertaCY";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1735044585/cuberto/fonts/AvertaCY-Regular.woff2");
    font-weight: 400;
    font-style: normal;
  }
  @font-face {
    font-family: "AvertaCY";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1735044586/cuberto/fonts/AvertaCY-Semibold.woff2");
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "AvertaCY";
    src: url("https://res.cloudinary.com/mohammadbilalmansuri/raw/upload/v1735044582/cuberto/fonts/AvertaCY-Bold.woff2");
    font-weight: 700;
    font-style: normal;
  }

  * {
    box-sizing: border-box;
    font-family: "AvertaCY", sans-serif;
  }

  .text-strock-light {
    -webkit-text-stroke: 1px var(--black);
    color: transparent;
  }

  .text-strock-medium {
    -webkit-text-stroke: 1.5px var(--black);
    color: transparent;
  }

  .text-strock-bold {
    -webkit-text-stroke: 2px var(--black);
    color: transparent;
  }
}

@tailwind components;
@layer components {
  .featured-left-item {
    @apply min-h-full flex flex-col justify-center gap-2;
  }

  .h2 {
    @apply xl:text-6xl lg:text-5xl md:text-4xl text-3xl font-semibold;
  }

  .h3 {
    @apply xl:text-5xl lg:text-4xl md:text-3xl text-2xl capitalize leading-tight font-medium;
  }

  .project {
    @apply min-h-full flex flex-col justify-center gap-4;
  }

  .project-mobile {
    @apply min-h-full flex flex-col justify-center gap-2;
  }
}

@tailwind utilities;
